PORT=3000

DB_HOST=localhost
DB_USER=YOUT_USER_HERE
DB_PASSWORD=YOUR_PASSWORD_HERE
DB_NAME=YOUR_DATABASE

JWT_SECRET=YOUR_JWT_SECRET
JWT_EXPIRES_IN=YOUR_JWT_EXPIRATION_TIME

MONGO_URI=YOUR_MONGO_URI_HERE