
node_modules/
jspm_packages/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.docker/
mysql_data/

.env
.env.test
.env.local

coverage/
.nyc_output/

.vscode/
.idea/
.DS_Store
dist/
build/